.aboutContainer {
    display: flex;
}

.descriptionContainer {
    width: 80%;
    padding-right: 5px;
}

.imgContainer {
    width: 20%;
    text-align: center;
}

.header {
    color: white;
    font-size: 35px;
    margin-bottom: 5px;
}

.subHeader {
    color: white;
    font-size: 20px;
    margin-bottom: 25px;
}

.myPic {
    border-radius: 50%;
}

.contactLinksContainer {
    text-align: center;
    margin-top: 40px;
}

.contactLinksContainer a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 10px;
    display: inline-block;
}

.contactLinksContainer a:hover {
    background-color: white;
    color: rgb(42, 42, 42);
}

.rightLink {
    margin-left: 40px;
}

.socialIcon {
    margin-right: 5px;
}

.linkContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}