.footerBar {
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    border-top: 1px solid darkgray;
    height: 30px;
    padding-left: 10px;
    font-size: smaller;
}

.footerBar div {
    display: flex;
    align-items: center;
    gap: 5px;
}

.footerBar div a {
    cursor: pointer;
    display: flex;
}

.contactInfo {
    color: darkgray;
    font-size: smaller;
    margin-right: 5px;
}