.navBar {
    background-color: rgb(20, 20, 24);
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 40px;
    font-weight: bold;
}

.title, .section a {
    text-decoration: none;
}

.title {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 22px;
}

.section {
    display: inline-block;
}

.section a {
    color: darkgray;
    padding-left: 15px;
}

.section a:hover {
    color: white;
}

/* Mobile Accessibility */
@media only screen and (max-width: 600px) { 

    .section {
        display: block;
        text-align: center;
        margin-top: 10px;
    }

    .title {
        display: block;
        text-align: center;
    }

}