.subHeader {
    margin-top: 50px;
}

.resetButton {
    cursor: pointer;
    font-weight: bold;
    color: rgb(189, 185, 185);
}

.projectsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.projectContainer {
    width: 300px;
    text-align: center;
    margin-top: 50px;
}

.contentBox {
    height: 175px;
    margin: 10px;
}

.projectDesc {
    background-color: rgb(20, 20, 24);
    height: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.projectDesc {
    text-align: center;
    padding: 0px 5px;
}

.projectImg {
    max-width: 100%;
    height: auto;
}

.projectTitle {
    color: white;
    margin-bottom: 25px;
}

.projectIcons {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-top: 20px;
}

.projectIcon {
    width: 30px;
}

.projectLinks {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectLinks a {
    color: darkgray;
    text-decoration: none;
    font-size: 14px;
}

.linkDivider {
    margin: 0px 8px;
}