h1, h2, h3, h4, h5, h6, div, p, img {
  margin: 0;
  padding: 0;
}

.pageBody {
  background-color: rgb(0, 0, 11);
  color: darkgray;
}

.pageContent {
  width: 80%;
  margin: 0 auto;
}

.pageSection {
  margin-top: 100px;
}

.sectionHeader {
  color: white;
  font-size: 30px;
  text-align: center;
}

.sectionSubHeader {
  color: darkgray;
  text-align: center;
  margin-top: 5px;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Mobile Accessibility */
@media only screen and (max-width: 600px) { 

  .pageSection {
    margin-top: 60px;
  }

}